.previewer {
    width: 50%;
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
}

#preview {
    padding: 0 12px;
}

  @media screen and (max-width: 960px){
      .previewer {
          position: relative;
          width: 100%;
          z-index: -1;
          margin-top: 3rem;
      }
      #preview {
          font-size: 1.6rem;
      }
  }
